streamlit
streamlit_lottie
streamlit_option_menu
assemblyai
textblob
transformers
fire_state
pydub
plotly
reportlab
pandas
numpy==1.23.5  # Pin to a specific version to avoid binary incompatibility
spacy==3.4.4  # Use a version known to work with recent thinc versions
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
networkx
torch>=1.6.0,<2.0.0